@charset "UTF-8";
.table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #f1f1ec;
}
.table-hover > tbody > tr:nth-of-type(even) {
    background-color: #ccccc2;
}
.fixed-table-toolbar .columns {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
    margin-right: 50px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 34px;
}
.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
    margin-left: 10px;
    width: 300px;
}
.bootstrap-table{
   margin-top:-50px;
}
#tb_user tr th:nth-child(2){
  width:100px;
}
#tb_user tr th:nth-child(3){
  width:100px;
}
#tb_user tr th:nth-child(4){
  width:300px;
}
.fixed-table-toolbar columns-right{
  margin-right: -120px;
  margin-top: 200px;
}